@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Montserrat:wght@200;300&display=swap');

/* Classes de estilizações gerais do site */
body{
  overflow-x: hidden; /* Hide scrollbars */
  background-color:#2a2c30 ;
  padding-bottom: 60px;
}
*{
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
img{
  margin-right: 13px;
}
.languageActive{
  border-bottom: solid;
  border-color: #0487cc;
  padding: 3px;
}